@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  animation: 4s 1 stopScroll;
  scroll-behavior: smooth;
}

#page {
  scroll-behavior: smooth;
}

@keyframes stopScroll {
  0% {
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    overflow: auto;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes logoAppear {
  0% {
    opacity: 0;
    height: 264px;
    width: 725px;
    top: calc((100vh - 264px) / 2);
    left: calc((100vw - 725px) / 2);
  }

  20% {
    opacity: 1;
    height: 264px;
    width: 725px;
    top: calc((100vh - 264px) / 2);
    left: calc((100vw - 725px) / 2);
  }

  80% {
    opacity: 1;
    height: 264px;
    width: 725px;
    top: calc((100vh - 264px) / 2);
    left: calc((100vw - 725px) / 2);
  }

  100% {
    opacity: 0;
    height: 48px;
    width: 132px;
    top: 20px;
    left: 8rem;
  }
}

@keyframes logoAppearPhone {
  0% {
    opacity: 0;
    height: fit-content;
    width: 80vw;
    top: calc((100vh - 264px) / 2);
    left: calc((100vw - 80vw) / 2);
  }

  20% {
    opacity: 1;
    height: fit-content;
    width: 80vw;
    top: calc((100vh - 264px) / 2);
    left: calc((100vw - 80vw) / 2);
  }

  80% {
    opacity: 1;
    height: fit-content;
    width: 80vw;
    top: calc((100vh - 264px) / 2);
    left: calc((100vw - 80vw) / 2);
  }

  100% {
    opacity: 0;
    height: 48px;
    width: 132px;
    top: 1.25rem;
    left: 1.25rem;
  }
}

#bannerLogo {
  animation: 3s 1 logoAppear forwards;

  @media (max-width: 641px) {
    animation: 3s 1 logoAppearPhone forwards;
  }
}

#bannerText,
#navBarLogo {
  animation: 4s 1 appear;
}

#TopBar {
  animation: 3.5s 1 appear;
}

/* 
#navBarLogo {
  animation: 4s 1 appear;
} */

#about {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    36deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(10, 10, 13, 1) 55%,
    rgb(45, 45, 45) 100%
  );
}

#trainer {
  background: rgb(4, 4, 6);
  background: linear-gradient(
    36deg,
    rgba(4, 4, 6, 1) 0%,
    rgba(10, 10, 13, 1) 55%,
    rgb(45, 45, 45) 100%
  );
}

#gallery {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    160deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(10, 10, 13, 1) 55%,
    rgb(45, 45, 45) 100%
  );
}

::-webkit-scrollbar {
  display: none;
}
